{% extends 'web_app/bcc.html' %}
{% load staticfiles %}
{% block title_block %}
Add Post
{% endblock %}

{% block body_block %}
<div class="hero-unit">
    <h1>Add Post</h1>
    {% if post_added %}
    BringMeHome says: <strong>You just post something!</strong>
    <a href="{% url 'index' %}">Return to the homepage.</a><br />
    {% else %}
    <form method='POST' action='' enctype='multipart/form-data'>{% csrf_token %}
        {{ post_form.as_p }}
        <input type='submit' class='btn btn-default' value='Create Post' />
    </form>
    {% endif %}
</div>
{% endblock %}