{% extends 'web_app/base.html' %}
{% load staticfiles %}
{% block title_block %}
Add Post
{% endblock %}

{% block body_block %}
<style>
    .column {
        float: left;
        width: 50%;
    }
</style>
<section class="s-extra">
    <div class="row">
        <div class="column">
            {% if post_added %}
            <strong>Thank you for posting!</strong><br />
            <a href="{% url 'index' %}">Click here to return to the homepage.</a><br />
            {% else %}
            <h1 style="margin-left: 0; padding-bottom: 20px; color: #fc7070">Add a Post</h1>
            <form method='POST' action='' enctype='multipart/form-data'>{% csrf_token %}
                {% for field in post_form %}
                {% if field.id_for_label == 'id_location' %}
                <div class="fieldWrapper">
                    <label for="id_location">Location:</label> <input type="text" name="location" maxlength="128"
                        required="" id="id_location" onChange="change_address(this.value);">
                </div>
                {% else %}
                <div class="fieldWrapper">
                    {{ field.label_tag }} {{ field }}
                    {% if field.help_text %}
                    <p class="help">{{ field.help_text|safe }}</p>
                    {{ field.errors }}
                    {% endif %}
                </div>
                {% endif %}
                {% endfor %}
                <input type='submit' class="btn btn--primary btn-wide btn--large full-width" value='Submit' />
            </form>
            {% endif %}
        </div>
        {% if post_added %}

        {% else %}
        <div class="column">
            <br><br><br><br>
            <div id="googleMap" style="width:500px;height:500px;"></div>
        </div>
        {% endif %}
    </div>

</section>
<script type='text/javascript'>setPage('add')</script>
<script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAOwO2A_hmXFVDvjhz5Ygv9m-ZvR1_gYcM&libraries=places&callback=initMap">
    </script>
{% endblock %}