{% extends 'web_app/bbc.html' %}
{% load staticfiles %}

{% block title_block %}
    Index
{% endblock %}
{% block body_block %}
    <!-- featured-->
    <section class="s-featured">
        <div class="row">
            <div class="col-full">

                <div class="featured-slider featured" data-aos="zoom-in">

                    <div class="featured__slide">
                        <div class="entry">

                            <div class="entry__background"
                                 style="background-image:url({% static 'img/thumbs/featured/found.jpg' %});"></div>

                            <div class="entry__content">
                                <span class="entry__category"><a href="{% url 'add_post' %}">Found a dog</a></span>

                                <h1><a href="{% url 'add_post' %}" title="">If you have found a stray dog, help it find a home.</a></h1>

                            </div> <!-- end entry__content -->

                        </div> <!-- end entry -->
                    </div> <!-- end featured__slide -->

                    <div class="featured__slide">

                        <div class="entry">

                            <div class="entry__background"
                                 style="background-image:url({% static 'img/thumbs/featured/lost.jpg' %});"></div>

                            <div class="entry__content">
                                <span class="entry__category"><a href="{% url 'add_post' %}">Lost a dog</a></span>

                                <h1><a href="{% url 'add_post' %}" title="">Have you lost your pet? Let people know.</a></h1>

                            </div> <!-- end entry__content -->

                        </div> <!-- end entry -->

                    </div> <!-- end featured__slide -->

                    <div class="featured__slide">

                        <div class="entry">

                            <div class="entry__background"
                                 style="background-image:url({% static 'img/thumbs/featured/adopt.jpg' %});"></div>

                            <div class="entry__content">
                                <span class="entry__category"><a href="{% url 'add_post' %}">Adopt a dog</a></span>

                                <h1><a href="{% url 'add_post' %}" title="">Are you looking for a new best friend?</a></h1>

                            </div> <!-- end entry__content -->

                        </div> <!-- end entry -->

                    </div> <!-- end featured__slide -->

                </div> <!-- end featured -->

            </div> <!-- end col-full -->
        </div>
    </section> <!-- end s-featured -->

    <!-- s-extra-->
    <section class="s-extra">

        <div class="row">
            <h3>Recent Posts</h3>

            <div class="block-1-2 block-m-full popular__posts">
                {% if posts %}
                <ul>
                    {% for post in posts %}
                        <article class="col-block popular__post">
                            <a href="/web_app/post/{{ post.postId }}" class="popular__thumb">
                                {% if post.image %}
                                    <img src="{{ post.image.url }}">
                                {% else %}
                                    <img src="{% static 'img/thumbs/post/no_image_available.jpeg' %}">
                                {% endif %}
                            </a>
                            <h5><a href="/web_app/post/{{ post.postId }}">{{ post.title }}</h5>
                            <section class="popular__meta">
                                <span class="popular__author"><span>By</span> <a href="user/{{ post.userId.id }}">{{ post.userId }}</a></span>
                                <span class="popular__date"><span>on</span> <time
                                        datetime="2018-06-14">{{ post.date }}</time></span>
                            </section>
                        </article>
                    {% endfor %}
                </ul>
            {% else %}
                <strong style="margin-left: 15px">There are no posts right now.</strong>
            {% endif %}

            </div> <!-- end popular_posts -->
        </div> <!-- end row -->

    </section> <!-- end s-extra -->
{% endblock %}