{% extends 'web_app/bbc.html' %}
{% load staticfiles %}

{% block title_block %}
    Register
{% endblock %}

{% block body_block %}
    <section class="s-extra">
        <div class="row">
            <h1 style="margin-left: 0; padding-bottom: 20px; color: #fc7070">Sign Up</h1>

            {% if registered %}
                <strong>Thank you for registering!</strong>
                <a href="{% url 'index' %}"><br/>Click here to return to the homepage.</a><br/>
            {% else %}
                <form id="user_form" method="post" action="{% url 'register' %}"
                      enctype="multipart/form-data">

                    {% csrf_token %}

                    <!-- Display each form -->
                    {{ user_form.as_p }}
                    {{ profile_form.as_p }}

                    <!-- Provide a button to click to submit the form. -->
                    <input type="submit" name="submit" value="Register"/>
                </form>
            {% endif %}
        </div>
    </section>

    <script>
        function initMap() {
            var location_input = document.getElementById('id_location');
            var autocomplete = new google.maps.places.Autocomplete(location_input);
            };
    </script>
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAOwO2A_hmXFVDvjhz5Ygv9m-ZvR1_gYcM&libraries=places&callback=initMap">
    </script>
{% endblock %}