{% extends 'web_app/base.html' %}
{% load staticfiles %}

{% block title_block %}
Register
{% endblock %}

{% block body_block %}
<section class="s-extra">
    <div class="row">
        {% if deleted %}
        <strong>Your User account has now been deleted!</strong><br />
        <a href="{% url 'index' %}">Click here to return to the homepage.</a><br />
        {% else %}
        <h1 style="margin-left: 43%; padding-bottom: 20px; color: #fc7070">Profile</h1>

        {% if user == None %}
        <strong>No user provided</strong>
        {% else %}

        <div class="column" style="float:left; width: 70%;">
            <div class="container">
                <!-- {{user.userprofile.id}} -->
                <form id='save' method="post" action="{% url 'edit_profile' %}" enctype="multipart/form-data">
                    {% csrf_token %}
                    <h3>Personal Infomration</h3>
                    <div class="input-w">
                        <label for="id_username"
                            style="max-width: 20%; font-size:20px; display: inline-block;">Username:</label>
                        <input name="username" id="id_username" type="text" value="{{ user }}"
                            style="display: inline-block; max-width: 30%; font-size:20px;" disabled>
                    </div>
                    <div class="input-w">
                        <label for="id_first_name" style="max-width: 20%; font-size:20px; display: inline-block;">First
                            name:</label>
                        <input name="first_name_1" id="id_first_name" type="text" value="{{ user.first_name }}"
                            style="display: inline-block; max-width: 30%; font-size:20px;" disabled>
                        <input name="first_name" id="id_first_name" type="hidden" value="{{ user.first_name }}"
                            style="display: inline-block; max-width: 30%; font-size:20px;">
                    </div>
                    <div class="input-w">
                        <label for="id_last_name" style="max-width: 20%; font-size:20px; display: inline-block;">Last
                            name:</label>
                        <input name="last_name" id="id_last_name" type="text" value="{{ user.last_name }}"
                            style="display: inline-block; max-width: 30%; font-size:20px;" disabled>
                        <input name="last_name" id="id_last_name" type="hidden" value="{{ user.last_name }}"
                            style="display: inline-block; max-width: 30%; font-size:20px;">
                    </div>
                    <div class="input-w">
                        <label for="id_location"
                            style="max-width: 20%; font-size:20px; display: inline-block;">Location/City:</label>
                        <input name="location" size="30" id="id_location" type="text"
                            value="{{ user.userprofile.location }}"
                            style="display: inline-block; max-width: 30%; font-size:20px;">
                    </div>
                    <h3>Contact Details</h3>
                    <div class="input-w">
                        <i class="fa fa-phone" aria-hidden="true"></i>
                        <input name="phoneNumber" id="id_phoneNumber" type="text"
                            value="{{ user.userprofile.phoneNumber }}"
                            style="display: inline-block; max-width: 30%; font-size:20px;">
                    </div>
                    <div class="input-w">
                        <i class="fa fa-envelope" aria-hidden="true"></i>
                        <input name="email" id="id_email" type="text" value="{{ user.email }}"
                            style="display: inline-block; max-width: 30%; font-size:20px;" disabled>

                    </div>

                    <!-- <input name="submit" type="submit" value="Register"> -->
                    <input type='button' onclick="JSalert(this.form);"
                        class="btn btn--save btn-wide btn--large full-width" value='Save' />
                        <p>***Only location and phone number can be changed through this form.<br>For further information or requests please contact us.</p>
                </form>


                <form id="deletion" method="post" action="{% url 'delete' %}" enctype="multipart/form-data">
                    {% csrf_token %}
                    <input type='button' onclick="JSalert(this.form);"
                        class="btn btn--delete btn-wide btn--large full-width" value='Delete Profile' />
                </form>
            </div>
        </div>
        <div class="column" style="float: right; width: 25%;">
            {% if user.userprofile.photo %}
            <img src="{{ user.userprofile.photo.url }}" style="width: 240px; height: 240px">
            {% endif %}
        </div>
        {% endif %}
        {% endif %}
    </div>
</section>
<script type='text/javascript'>setPage('profile')</script>
<script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAOwO2A_hmXFVDvjhz5Ygv9m-ZvR1_gYcM&libraries=places&callback=initMap">
    </script>
{% endblock %}