{% extends 'web_app/bbc.html' %}
{% load staticfiles %}

{% block title_block %}
Register
{% endblock %}

{% block body_block %}
<section class="s-extra">
    <h1 style="margin-left: 43%; padding-bottom: 20px; color: #fc7070">Profile</h1>
    
    {% if profile == None %}
    <strong>No user provided</strong>
    {% else %}
    <div class="row">
        <div class="column" style="float:left; width: 70%;">
            <div class="container">
                    {% csrf_token %}
                    <div class="input-w">
                        <label for="id_username"
                            style="max-width: 20%; font-size:20px; display: inline-block;">Username:</label>
                        <input name="username" id="id_username" type="text" value="{{ profile }}"
                            style="display: inline-block; max-width: 30%; font-size:20px;" disabled>
                    </div>
                    <div class="input-w">
                        <label for="id_first_name" style="max-width: 20%; font-size:20px; display: inline-block;">Last
                            name:</label>
                        <input name="first_name_1" id="id_first_name" type="text" value="{{ profile.first_name }}"
                            style="display: inline-block; max-width: 30%; font-size:20px;" disabled>
                        <input name="first_name" id="id_first_name" type="hidden" value="{{ profile.first_name }}"
                            style="display: inline-block; max-width: 30%; font-size:20px;">
                    </div>
                    <div class="input-w">
                        <label for="id_last_name" style="max-width: 20%; font-size:20px; display: inline-block;">First
                            name:</label>
                        <input name="last_name" id="id_last_name" type="text" value="{{ profile.last_name }}"
                            style="display: inline-block; max-width: 30%; font-size:20px;" disabled>
                        <input name="last_name" id="id_last_name" type="hidden" value="{{ profile.last_name }}"
                            style="display: inline-block; max-width: 30%; font-size:20px;">
                    </div>
                    <div class="input-w">
                        <label for="id_phoneNumber" style="max-width: 20%; font-size:20px; display: inline-block;">Phone
                            Number:</label>
                        <input name="phoneNumber" id="id_phoneNumber" type="text"
                            value="{{ profile.userprofile.phoneNumber }}"
                            style="display: inline-block; max-width: 30%; font-size:20px;" disabled>
                    </div>
                    <div class="input-w">
                        <label for="id_location"
                            style="max-width: 20%; font-size:20px; display: inline-block;">Location/City:</label>
                        <input name="location" size="30" id="id_location" type="text"
                            value="{{ profile.userprofile.location }}"
                            style="display: inline-block; max-width: 30%; font-size:20px;" disabled>
                    </div>
            </div>
        </div>
        <div class="column" style="float: right; width: 25%;">
            {% if profile.userprofile.photo %}
            <img src="{{ profile.userprofile.photo.url }}" style="width: 240px; height: 240px">
            {% endif %}
        </div>
    {% endif %}
</section>

{% endblock %}